.formulaireChreChre {
    border: 1rem solid grey;
  margin-left: 9vh;
  width: 80%; 
  box-shadow: 20px 20px rgba(0,0,0,.15);

}
/* 
.formulaireChreChre {
    position: relative;
    width: 350px;
    height: 550px;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
  } */
  
  .formulaireChreChre:hover {
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

  .last {
      margin-bottom: 5vh;
  }

  .start {
      margin-top: 5vh;
      margin-bottom: 5vh;
  }