* {
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
}

@media(min-width: 768px) {
    .menu {
        background-color: white;
        width: 50vh;
        height: auto;
        border: solid 0.3vh black;
        line-height: 6vh;
        color: black;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 94, 237, 1) 100%);
        width: 20vh;
        height: auto;
        border: solid 0.3vh black;
        line-height: 6vh;
        color: white;
        font-size: 2vh;

    }

    .menugauche {
        height: 100%;
        line-height: 10vh;
    }


    .msg {
        font-size: 2vh;
        color: white;
        font-size: 2vh;
    }

    .new {
        margin-left: 9vh;
    }


    .menuMobile {
        display: none;
    }

    .recherche {
        color: red !important;
        font-size: 2vh;
    }
}


@media(max-width: 769px) {

    .menugauche {
        display: none !important;

    }

    .menuMobile {
        font-size: 2vh;
        background-color: rgb(141, 140, 140);
        color: blue;
        text-shadow: 1vh;
    }

    .recherche {
        color: red !important;
        font-size: 2vh;
    }
}
