.formulaireAjout {

    border-radius: 10px;
    border-color: black;
    justify-content: center;
}

form h1 {
    text-align: center;
}

/* motif ticket*/
.motifTicket label {
    margin: 20px;
}

/* num commande */
.numCommande label {
    margin: 20px;
}

/* num dossier */

.numDossier{
    display: inline-block;
}

.numDossier label{
    margin: 20px;
}

/* btn submit*/

.send {
    display: inline-block;
    padding: 50px;
    justify-content: center;
    
}

.send button {
    border-radius: 10px;
    background-color: green;
    justify-content: center;
    width: 150%;
}