* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


.formulaireAjout {
    border-color: black;
    border-radius: 10px;
    border: solid 3px;

}

form h1 {
    text-align: center;
}

/* nom */

.nom {
    display: inline-block;
}

.nom label {
    margin: 20px;
}

/* prenom */
.prenom {
    display: inline-block;
}

.prenom label {
    margin: 20px;
}

/* portable*/
.portable label {
    margin: 20px;
}

/* mail */
.mail label {
    margin: 20px;
}

/* adresse */

.adresse {
    display: inline-block;
}

.adresse label {
    margin: 20px;
}

/* code postal*/

.codePostal {
    display: inline-block;
}

.codePostal label {
    margin: 20px;
}

/* num commande */
.numCommande label {
    margin: 20px;
}

/* btn reset */

.reset {
    display: inline-block;
    padding: 50px;
    justify-content: center;
}

.reset input {
    border-radius: 10px;
    background-color: red;
    justify-content: center;
    width: 150%;
}

/* btn submit*/

.send {
    display: inline-block;
    padding: 50px;
    justify-content: center;
}

.send input {
    border-radius: 10px;
    background-color: green;
    justify-content: center;
    width: 150%;
}
