* {
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
}
.footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 94, 237, 1) 100%);
    color: rgb(255, 255, 255);
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer{
    position: absolute;
    width: 100%; height: 50px;
    bottom: 0vh; left: 0; right: 0;
    
  }
    
     