* {
    font-family: 'Calibri';
    margin: 0;
    padding: 0;
}

.bienvenue {
    color: white;
    font-size: 3vh;
}

.msg {
    color : white;
}
@media screen and (max-width: 576px) {

    header {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 94, 237, 1) 100%);
       

    }

    .logo {
        width: auto;
        height: 1vh;
    }

   

    .hotline {
    
        font-size: 5vh;
        color: white;
        margin-top: 10vh;
    }

    .disconnect {
        color: white;
        font-size: 5vh;
    }

    .txtDisconnect {
        font-size: 1.5vh;
        color: white;
        margin-top: -2vh;
        margin-right: -1vh;
    }
    .disconnect :hover
     {
        color: red;
    }

    #nomEmp {
        font-size: 2vh;
        color: white;
        display: none;
    }



    .btnlg {
        display: none;
    }

    .menu {
        background-color: rgb(185, 183, 183);
    }

    .titreMenu {
        font-size: 3vh;
    }

    .btnmd {
        display: none;
    }



}


@media screen and (max-width: 768px) {

    /* PARTIE HEADER  MOBILE */

    header {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 94, 237, 1) 100%);

    }

    .logo {
        width: auto;
        height: 3vh;
    }


    .hotline {
        font-size: 5vh;
        color: white;
    }

    .disconnect {
        color: white;
        font-size: 5vh;
    }

    .txtDisconnect {
        font-size: 1.5vh;
        color: white;
        margin-top: -2vh;
        margin-right: -1vh;
    }

    .disconnect ::after {
        color: red;
    }

    #nomEmp {
        font-size: 2vh;
        color: white;
        display: none;
    }



    .btnlg {
        display: none;
    }

    .menu {
        background-color: rgb(185, 183, 183);
    }

    .titreMenu {
        font-size: 3vh;
    }

    .btnmd {
        display: none;
    }



}

/* FIN PARTIE MENU MOBILE */


@media screen and (min-width: 768px) {

    /* Version Medium */
    .logo img {
        width: auto;
        height: 13vh;
    }

    header {
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(47, 94, 237, 1) 100%);
    }

    .hotline {
        font-size: 6vh;
        color: white;
        margin-top: 2vh;
    }

    .disconnect {
        margin-top: 2vh;
        color: white;
        font-size: 5vh;
    }

    .txtDisconnect {
        font-size: 1.5vh;
        color: white;
        margin-top: -2vh;
        margin-right: -1vh;
    }

    .disconnect ::after {
        color: red;
    }

    .menu {
        display: none;
    }

    .titreMenu {
        display: none;
    }

    select {
        background-color: rgb(185, 183, 183);
        height: 6vh;
    }

    .btnsm {
        display: none;
    }

    .ticmd {
        background-color: rgb(185, 183, 183);
    }

    .msgmd {
        background-color: rgb(185, 183, 183);
    }

    .connexionlg {
        display: none;
    }

    .btnlg {
        display: none;
    }

    /* Fin Version Medium */

    /* Version Large*/
    @media screen and (min-width: 992px) {

        .btnmd {
            display: none;
        }

        .btnlg {
            display: inline;

        }

        .hotline {
            font-size: 5vh;
        }


    }
}

/* Fin version Large