*{
    font-family: 'Calibri';
    margin: 0vh;
    padding: 0vh;
}

/* PARTIE HEADER  */

header{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(47,94,237,1) 100%);
}

.logo {
    width: auto;
    height: 8vh;
    margin-left: -2vh;

}


.hotline {
    font-size: 3.5vh;
    color: white;
    margin-top: 2vh;
}

#connexion 
{
    font-size: 5vh;
    color: white;
}

#nomEmp {
    font-size: 2vh;
    color: white;
    display: none;
}

/* FIN PARTIE HEADER  */

/* PARTIE MENU */

.menu {
    background-color: rgb(185, 183, 183);
}

.titreMenu {
    font-size: 3vh;
}

